flows/Bag_Checkout.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>asg_Set_Bag1</name>
        <label>Debug</label>
        <locationX>58</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>var_RecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0r3l000007pagNAAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_clientid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0033l00002LgDgoAAF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_today_s_checkout_logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is used to delete the record that is a duplicate.</description>
        <name>Set_checkout_log_to_delete_to_current</name>
        <label>Set checkout log to delete to current</label>
        <locationX>625</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>sob_tmp_BagCheckout.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Checkout_log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if the bag count is null</description>
        <name>Count_null</name>
        <label>Bag Count is null</label>
        <locationX>47</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>No Bag</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_bagID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sob_Bag.Uses_Count__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Bag_Count</targetReference>
            </connector>
            <label>is Null</label>
        </rules>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_bagID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sob_Bag.Uses_Count__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bag_Count</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Client_ID</name>
        <label>Has Client ID</label>
        <locationX>47</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Count_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client ID null</defaultConnectorLabel>
        <rules>
            <name>ID_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_clientid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bag</targetReference>
            </connector>
            <label>ID not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to determine if any records were found</description>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>393</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Has_Client_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_today_s_checkout_logs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_checkout_log_to_delete_to_current</targetReference>
            </connector>
            <label>Records found</label>
        </rules>
    </decisions>
    <description>Used upon when a bag is checked out, Called via a process builder 

Inputs: record ID, bag ID, Bag Count

Change log:
Peter Fife Oct 2 2019: + logic to prevent duplicates log entries
Peter Fife Sept 1 2019: Added logic to deal with null bag counts being passed in. 
PF Feb3 initial</description>
    <formulas>
        <name>frm_Plus1Count</name>
        <dataType>Number</dataType>
        <expression>1+{!sob_Bag.Uses_Count__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Bag Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bag Checkout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Removes the newly created log</description>
        <name>Delete_Checkout_log</name>
        <label>Delete Checkout log</label>
        <locationX>797</locationX>
        <locationY>274</locationY>
        <inputReference>sob_tmp_BagCheckout</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Bag_details</name>
        <label>Get Bag details</label>
        <locationX>443</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Bag_checkout</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_bagID</elementReference>
            </value>
        </filters>
        <object>Bag__c</object>
        <outputReference>sob_Bag</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Uses_Count__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Last_used_by__c</queriedFields>
        <queriedFields>Last_Used_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Used to see if any other bag checkouts exist already</description>
        <name>Get_today_s_checkout_logs</name>
        <label>Get today&apos;s checkout logs</label>
        <locationX>201</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_clientid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_RecordID</elementReference>
            </value>
        </filters>
        <object>Bag_Check_log__c</object>
        <outputReference>sob_tmp_BagCheckout</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the initial bag count to be 1 since no count is present</description>
        <name>Initialize_Bag_Count</name>
        <label>Initialize Bag Count</label>
        <locationX>55</locationX>
        <locationY>747</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_bagID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Use</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uses_Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Bag__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the current bag checkout log the bag found</description>
        <name>Set_Bag_checkout</name>
        <label>Set Bag Checkout</label>
        <locationX>443</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Count_null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bag__c</field>
            <value>
                <elementReference>var_bagID</elementReference>
            </value>
        </inputAssignments>
        <object>Bag_Check_log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bag_Count</name>
        <label>Update Bag Count</label>
        <locationX>291</locationX>
        <locationY>624</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_bagID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Use</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uses_Count__c</field>
            <value>
                <elementReference>frm_Plus1Count</elementReference>
            </value>
        </inputAssignments>
        <object>Bag__c</object>
    </recordUpdates>
    <startElementReference>Get_today_s_checkout_logs</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Bag</name>
        <label>Get Bag</label>
        <locationX>301</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Get_Bag_details</targetReference>
        </connector>
        <flowName>Bag_Get_Last_Used_bag</flowName>
        <inputAssignments>
            <name>var_ClientID</name>
            <value>
                <elementReference>var_clientid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_bagID</assignToReference>
            <name>var_bagID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>sob_Bag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bag__c</objectType>
    </variables>
    <variables>
        <description>captures if any current bag check logs exist</description>
        <name>sob_tmp_BagCheckout</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bag_Check_log__c</objectType>
    </variables>
    <variables>
        <description>record Id for bag</description>
        <name>var_bagID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>contact record id</description>
        <name>var_clientid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Back Check Record ID</description>
        <name>var_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
