flows/Check_In.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>asg_Set_Checkin_values</name>
        <label>Set Checkin values</label>
        <locationX>674</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>sob_Checkin.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ContactID_new</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_Checkin.Checkin_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_Checkin.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Checkin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Checkin_for_Found_Contact</name>
        <label>Set Checkin for Found Contact</label>
        <locationX>192</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>sob_Checkin.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lkp_Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_Checkin.Checkin_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_Checkin.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_todays_checkins</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>458</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>sob_Checkin.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Duplication_check.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_Checkin.Checkin_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_Checkin.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_todays_checkins</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the Contact lookup was not found</description>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>182</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>scr_Check_In_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>out_Client_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lkp_Contact.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Checkin_for_Found_Contact</targetReference>
            </connector>
            <label>Client Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>was the contact already found</description>
        <name>dec_Duplicate_Contact_Found</name>
        <label>Duplicate Contact Found</label>
        <locationX>663</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Duplication_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
        <rules>
            <name>out_Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Duplication_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
    </decisions>
    <decisions>
        <description>See&apos;s if this client already has a checkin</description>
        <name>Did_this_Client_already_checkin_today</name>
        <label>Did this Client already checkin today</label>
        <locationX>453</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>Create_Checkin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Yes_Already_Checked_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_GetCheckin_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frm_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_AlreadyCheckin</targetReference>
            </connector>
            <label>Yes, Already Checked-in</label>
        </rules>
    </decisions>
    <description>Used as the checkin screen for the winter shelter

Change Log:
PF Dec 4 2019: Added gender to new contact screen
PF Dec 3 2019: Updated initial screen, removed Fname and Lname. Added additional screen when not found.</description>
    <dynamicChoiceSets>
        <name>pck_Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Sets the First name in proper case. Used to be sure data goes into the system properly</description>
        <name>frm_FirstNameProper</name>
        <dataType>String</dataType>
        <expression>UPPER( LEFT({!input_First_Name} , 1) ) &amp; LOWER( MID({!input_First_Name} , 2, LEN({!input_First_Name} ) ) )</expression>
    </formulas>
    <formulas>
        <description>Used to convert the Checkin Date/Time to date only</description>
        <name>frm_GetCheckin_Date</name>
        <dataType>Date</dataType>
        <expression>DateValue({!Get_todays_checkins.Checkin_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>frm_LastName_Proper</name>
        <dataType>String</dataType>
        <expression>UPPER( LEFT({!input_Last_Name} , 1) ) &amp; LOWER( MID({!input_Last_Name} , 2, LEN({!input_Last_Name} ) ) )</expression>
    </formulas>
    <formulas>
        <name>frm_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Check In {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check In</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Checkin</name>
        <label>Create Checkin</label>
        <locationX>699</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>scr_Confirmation</targetReference>
        </connector>
        <inputReference>sob_Checkin</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Client</name>
        <label>Create Client</label>
        <locationX>822</locationX>
        <locationY>422</locationY>
        <assignRecordIdToReference>var_ContactID_new</assignRecordIdToReference>
        <connector>
            <targetReference>asg_Set_Checkin_values</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>frm_FirstNameProper</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>input_Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>frm_LastName_Proper</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Client_RecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <description>Used to retrieve the record type ID of the Contact &apos;Client&apos; record type</description>
        <name>Get_Client_RecordTypeID</name>
        <label>Get Client RecordTypeID</label>
        <locationX>50</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_Check_In</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SobjectType</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Searches the database on the exact match for first name and last name and prevents the contact from being created again</description>
        <name>Get_Contact_Duplication_check</name>
        <label>Get Contact Duplication check</label>
        <locationX>561</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Duplicate_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frm_FirstNameProper</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frm_LastName_Proper</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Retrieves current check-ins for today based on the contact&apos;s ID</description>
        <name>Get_todays_checkins</name>
        <label>Get todays checkins</label>
        <locationX>196</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_this_Client_already_checkin_today</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sob_Checkin.Client__c</elementReference>
            </value>
        </filters>
        <object>Checkin__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Checkin_Date_Time__c</queriedFields>
        <sortField>Checkin_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>scr_AlreadyCheckin</name>
        <label>Already Checkin</label>
        <locationX>452</locationX>
        <locationY>765</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_Confimation_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Client is already &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(234, 7, 7);&quot;&gt;checked-in&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Click &quot;&lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(36, 215, 51);&quot;&gt;Finish&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; for next client. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is the initial check in screen</description>
        <name>scr_Check_In</name>
        <label>Client Check In</label>
        <locationX>193</locationX>
        <locationY>150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <fields>
            <name>txt_checkin</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Type clients name. If found select from drop down, if not, click Next, TWICE. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>lkp_Contact.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>lkp_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Client__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Client</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Checkin__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is the initial check in screen</description>
        <name>scr_Check_In_0</name>
        <label>Client Check In</label>
        <locationX>391</locationX>
        <locationY>157</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Duplication_check</targetReference>
        </connector>
        <fields>
            <name>txt_checkin_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Client could not be found.  Please type in their name below. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>lkp_Contact.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>lkp_Contact.recordName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>lkp_Contact.recordName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>lkp_Contact.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_Gender</name>
            <choiceReferences>pck_Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Confirmation</name>
        <label>Confirmation</label>
        <locationX>878</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_Confimation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click &quot;&lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(36, 215, 51);&quot;&gt;Finish&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; to check-in next client. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Client_RecordTypeID</startElementReference>
    <status>Active</status>
    <variables>
        <name>sob_Checkin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checkin__c</objectType>
    </variables>
    <variables>
        <description>This is the new contact that was just created</description>
        <name>var_ContactID_new</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
