flows/Client_Checkins.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Used only for debugging.</description>
        <name>asg_Debug</name>
        <label>asg_Debug</label>
        <locationX>51</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>var_ClientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0031N00001TEGQbQAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CheckinID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u3l00000ecgtkAAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initilaize_sob_checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used find the date of the most recent client vist</description>
        <name>asg_set_date</name>
        <label>asg_set_date</label>
        <locationX>533</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.Most_Recent_Stay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_sobDateTime2Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.First_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.Previous_Night__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stayed_last_night</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used find the date of the most recent client vist</description>
        <name>asg_set_date_0</name>
        <label>asg_set_date</label>
        <locationX>389</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.First_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.Previous_Night__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.Most_Recent_Stay__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Checkin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used signifies the client stayed with us the previous night</description>
        <name>asg_set_previous_night</name>
        <label>asg_set_previous_night</label>
        <locationX>754</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.Previous_Night__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Checkin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initilaize_sob_checking</name>
        <label>Initialize sob checking</label>
        <locationX>199</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.Previous_Night__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.Most_Recent_Stay__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_tmp_Checkin.First_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Checkins</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Used to determine if any previous checkins were found in the last 4 months</description>
        <name>Previous_Checkins_Found</name>
        <label>Previous Checkins Found</label>
        <locationX>380</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>asg_set_date_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No checkins found</defaultConnectorLabel>
        <rules>
            <name>out_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Checkins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asg_set_date</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to check if the client stayed with us the previous night.</description>
        <name>Stayed_last_night</name>
        <label>Stayed last night</label>
        <locationX>647</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Update_Checkin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Yes_Stayed_last_night</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_sobDateTime2Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frm_yesterday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asg_set_previous_night</targetReference>
            </connector>
            <label>Yes Stayed Last night</label>
        </rules>
    </decisions>
    <description>Used to find if a client came the previous night or if this is the first time they&apos;ve been here.

Input: Client ID, Checkin ID (record ID)
Output: None

Change Log:
Peter Fife Oct 3 2019: Inital</description>
    <formulas>
        <description>Used to look back 4 months</description>
        <name>frm_4moths_ago</name>
        <dataType>Date</dataType>
        <expression>today() - 120</expression>
    </formulas>
    <formulas>
        <description>Used to convert the sobject&apos;s date time to Date</description>
        <name>frm_sobDateTime2Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!sob_tmp_Checkin.Checkin_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>frm_Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <description>Calculates yesterdays date</description>
        <name>frm_yesterday</name>
        <dataType>Date</dataType>
        <expression>today() - 1</expression>
    </formulas>
    <interviewLabel>Client Checkins {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Checkins</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Used to find the client&apos;s previous check-ins if any.</description>
        <name>Get_Checkins</name>
        <label>Get Checkins</label>
        <locationX>260</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Checkins_Found</targetReference>
        </connector>
        <filters>
            <field>Checkin_Date_Time__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>frm_4moths_ago</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ClientID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_CheckinID</elementReference>
            </value>
        </filters>
        <object>Checkin__c</object>
        <outputReference>sob_tmp_Checkin</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Previous_Night__c</queriedFields>
        <queriedFields>Checkin_Date_Time__c</queriedFields>
        <sortField>Checkin_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checkin</name>
        <label>Update Checkin</label>
        <locationX>522</locationX>
        <locationY>323</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CheckinID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Day__c</field>
            <value>
                <elementReference>sob_tmp_Checkin.First_Day__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Stay__c</field>
            <value>
                <elementReference>frm_sobDateTime2Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Night__c</field>
            <value>
                <elementReference>sob_tmp_Checkin.Previous_Night__c</elementReference>
            </value>
        </inputAssignments>
        <object>Checkin__c</object>
    </recordUpdates>
    <startElementReference>Initilaize_sob_checking</startElementReference>
    <status>Active</status>
    <variables>
        <description>tmp sobject record used only within the loop</description>
        <name>sob_tmp_Checkin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checkin__c</objectType>
    </variables>
    <variables>
        <description>Current record ID</description>
        <name>var_CheckinID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The related client for this checkin</description>
        <name>var_ClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
