flows/Relationships_Set_Former_Mentors.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>709</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>col_NewRelationshipCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmp_Relationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to update the current status of the record.</description>
        <name>Set</name>
        <label>Set Relationship new values</label>
        <locationX>710</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>tmp_Relationship.npe4__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Relationship_Type</name>
        <label>Relationship Type?</label>
        <locationX>173</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mentor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_relationshipType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mentor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Mentor_Get_Clients_Other_Mentors</targetReference>
            </connector>
            <label>Mentor</label>
        </rules>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_relationshipType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Client_Get_Other_Mentors</targetReference>
            </connector>
            <label>Client</label>
        </rules>
    </decisions>
    <description>&apos;Mentoring Change&apos; user story - For &apos;Get Records&apos; element, depending on Relation Type (Client or Mentor), filter on &apos;contact Id&apos; or &apos;related contact Id&apos; field in the Relationship table.

Input: Contact ID (Client&apos;s contact id), Relationship ID (Current relationship that triggered workflow), Relation Type (Relation Type of the current relationship)
Output: none

Change log:
Monica Tahiliani October 4th 2019: Updated</description>
    <interviewLabel>Relationships: Set Former Mentors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relationships: Set Former Mentors</label>
    <loops>
        <name>Loop_Relationships</name>
        <label>Loop Relationships</label>
        <locationX>341</locationX>
        <locationY>233</locationY>
        <assignNextValueToReference>tmp_Relationship</assignNextValueToReference>
        <collectionReference>col_Relationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>For_Client_Get_Other_Mentors</name>
        <label>Get Other Mentors</label>
        <locationX>182</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Relationships</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_RelationshipID</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_relationshipType</elementReference>
            </value>
        </filters>
        <object>npe4__Relationship__c</object>
        <outputReference>col_Relationship</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>npe4__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>For_Mentor_Get_Clients_Other_Mentors</name>
        <label>Get Client&apos;s Other Mentors</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Relationships</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_RelationshipID</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_relationshipType</elementReference>
            </value>
        </filters>
        <object>npe4__Relationship__c</object>
        <outputReference>col_Relationship</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>npe4__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>576</locationX>
        <locationY>319</locationY>
        <inputReference>col_NewRelationshipCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>Relationship_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_NewRelationshipCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe4__Relationship__c</objectType>
    </variables>
    <variables>
        <description>hold the collection of relationship records</description>
        <name>col_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe4__Relationship__c</objectType>
    </variables>
    <variables>
        <name>col_Relationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe4__Relationship__c</objectType>
    </variables>
    <variables>
        <name>tmp_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe4__Relationship__c</objectType>
    </variables>
    <variables>
        <description>Current contact ID of the client record</description>
        <name>var_contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_relationshipType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
