flows/WS_Delete_Sleeping_Bag_Check_log.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Was a record found?</description>
        <name>dec_Record_Found</name>
        <label>Record Found</label>
        <locationX>337</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Delete_Back_Check_log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>out_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bag_Checkouts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Called when the Checkin&apos;s status has been updated to turned away. This function deletes the bag check log record since it&apos;s no longer needed.</description>
    <interviewLabel>WS Delete Sleeping Bag Check log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WS Delete Sleeping Bag Check log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Back_Check_log</name>
        <label>Delete Back Check log</label>
        <locationX>511</locationX>
        <locationY>55</locationY>
        <inputReference>Get_Bag_Checkouts</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Used to find the current bag checkout</description>
        <name>Get_Bag_Checkouts</name>
        <label>Get Bag Checkouts</label>
        <locationX>193</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Record_Found</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ClientID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Bag_Check_log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bag__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Bag_Checkouts</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_CheckinID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
