flows/WS_Swap_sleeping_bags.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_Original_and_New_to_collection</name>
        <label>Add Original and New to collection</label>
        <locationX>755</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>col_Bags</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sob_OriginalBag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Bags</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sob_NewBag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Bag_Check_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_Set_unassigned_bag</name>
        <label>Set unassigned bag</label>
        <locationX>473</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>var_SleepingBag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Select_a_New_Sleeping_Bag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Sleeping_Bag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_Set_Used_bag</name>
        <label>Set Used bag</label>
        <locationX>639</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>var_SleepingBag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Used_Bags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Sleeping_Bag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>debug</name>
        <label>debug</label>
        <locationX>82</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0r8A000000SDObQAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bag_Checkin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sleeping_bag</name>
        <label>Set sleeping bag</label>
        <locationX>654</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>sob_OriginalBag.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sleeping_Bag.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_NewBag.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SleepingBag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_NewBag.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Use</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_OriginalBag.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sleeping_Bag.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_OriginalBag.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Whats_wrong_with_bag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_NewBag.Uses_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_NewSleepingbagcount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_NewBag.Last_used_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bag_Checkin.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_OriginalBag.Swap_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Swap_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_NewBag.Last_Used_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Original_and_New_to_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>When selecting from a used bag</description>
        <name>ch_UsedBag</name>
        <choiceText>Select used bag</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Used</stringValue>
        </value>
    </choices>
    <choices>
        <name>cho_Cleaning</name>
        <choiceText>Cleaning Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cleaning Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>cho_Damaged</name>
        <choiceText>Damaged</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damaged</stringValue>
        </value>
    </choices>
    <choices>
        <name>cho_Missing</name>
        <choiceText>Missing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing</stringValue>
        </value>
    </choices>
    <choices>
        <name>NULL</name>
        <choiceText>-Null-</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>was used bag set</description>
        <name>dec_UsedBag</name>
        <label>Used Bag</label>
        <locationX>468</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>asg_Set_unassigned_bag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Select_a_New_Sleeping_Bag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_UsedBag</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asg_Set_Used_bag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Called as a sub-flow by the WS Assign Sleeping bag flow. 

Input: Bag Check record ID

History:
PF Dec 27 2019: Issue #7 Adding ability to choose from used bags
PF Dec 6 2019: Added &quot;Missing&quot; to the swap choice items
Peter Fife Oct 12 2019: Added comments to swap screen
Peter Fife Nov 2019: Initial.</description>
    <dynamicChoiceSets>
        <name>pck_bag_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Bag__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rch_AvailableSleepingBags</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </filters>
        <object>Bag__c</object>
        <outputAssignments>
            <assignToReference>var_SleepingBag</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_UsedBags</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Last_Used_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>frm_5DaysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Use</stringValue>
            </value>
        </filters>
        <filters>
            <field>Uses_Count__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <object>Bag__c</object>
        <outputAssignments>
            <assignToReference>var_SleepingBag</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>frm_5DaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>now()-5</expression>
    </formulas>
    <formulas>
        <name>frm_NewSleepingbagcount</name>
        <dataType>Number</dataType>
        <expression>{!Get_New_Sleeping_Bag.Uses_Count__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frm_Now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>WS Swap sleeping bags {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WS Swap sleeping bags</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Used to get the other details about the bag Check log</description>
        <name>Get_Bag_Checkin</name>
        <label>Get Bag Checkin</label>
        <locationX>174</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sleeping_Bag</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Bag_Check_log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Bag_Status__c</queriedFields>
        <queriedFields>Bag__c</queriedFields>
        <queriedFields>Client__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>gets the details of the new sleeping bag</description>
        <name>Get_New_Sleeping_Bag</name>
        <label>Get New Sleeping Bag</label>
        <locationX>638</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_sleeping_bag</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SleepingBag</elementReference>
            </value>
        </filters>
        <object>Bag__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Uses_Count__c</queriedFields>
        <queriedFields>Last_used_by__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>gets the details of the sleeping bag</description>
        <name>Get_Sleeping_Bag</name>
        <label>Get Sleeping Bag</label>
        <locationX>277</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>input_Swap_bags</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bag_Checkin.Bag__c</elementReference>
            </value>
        </filters>
        <object>Bag__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Uses_Count__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bag_Check_log</name>
        <label>Update Bag Check Log</label>
        <locationX>848</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Update_Sleeping_Bags</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bag__c</field>
            <value>
                <elementReference>sob_NewBag.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Bag_Check_log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sleeping_Bags</name>
        <label>Update Sleeping Bags</label>
        <locationX>953</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>scr_confirmation</targetReference>
        </connector>
        <inputReference>col_Bags</inputReference>
    </recordUpdates>
    <screens>
        <name>input_Swap_bags</name>
        <label>Swap bags</label>
        <locationX>387</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_UsedBag</targetReference>
        </connector>
        <fields>
            <name>txt_Swap</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;You&apos;re about to swap sleeping bag, &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Sleeping_Bag.Name}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_Whats_wrong_with_bag</name>
            <choiceReferences>cho_Cleaning</choiceReferences>
            <choiceReferences>cho_Damaged</choiceReferences>
            <choiceReferences>cho_Missing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What&apos;s wrong with bag?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Select_a_New_Sleeping_Bag</name>
            <choiceReferences>rch_AvailableSleepingBags</choiceReferences>
            <choiceReferences>ch_UsedBag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a New Sleeping Bag</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Used_Bags</name>
            <choiceReferences>rcs_UsedBags</choiceReferences>
            <choiceReferences>NULL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Used Bags</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Select_a_New_Sleeping_Bag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_UsedBag</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_usedbags</name>
            <fieldText>&lt;p&gt;Used bags listed are: those with less than 3 uses and lasted used more than 5 days ago.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Select_a_New_Sleeping_Bag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_UsedBag</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Swap_Comments</name>
            <dataType>String</dataType>
            <fieldText>Swap Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_confirmation</name>
        <label>Confirmation</label>
        <locationX>1119</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The sleeping bag,&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!sob_OriginalBag.Name}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, has been swapped for {!input_Select_a_New_Sleeping_Bag}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Bag &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!sob_OriginalBag.Name} reason:  {!sob_OriginalBag.Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>debug</startElementReference>
    <status>Active</status>
    <variables>
        <description>Holds the original and new sleeping bags</description>
        <name>col_Bags</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bag__c</objectType>
    </variables>
    <variables>
        <description>This is the Bag Checkout log record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sob_NewBag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bag__c</objectType>
    </variables>
    <variables>
        <name>sob_OriginalBag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bag__c</objectType>
    </variables>
    <variables>
        <name>var_SleepingBag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
